{{>layouts/header}}

<!--action 어디로 보낼지 // method 어떻게 보낼지-->
<form class="container" action="/articles/create" method="post">
    <div class="mb-3">
        <label class="form-label">title</label>
<!--        dto 파일에 있는 변수를 넣어줘야됨-->
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">contants</label>
        <!--        dto 파일에 있는 변수를 넣어줘야됨-->
        <textarea type="text" class="form-control"rows="3" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Sumbit</button>
    <a href="/articles">Back</a>
</form>

{{>layouts/footer}}